<!DOCTYPE html>
<html>
<head>
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
  <title>YISS|Allyumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pos-f-t">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <a class="navbar-logo" href="/"><%=image_tag('YISS_Logo.jpg', :style=>'float:left;')%><p class='navbar-logo-name'> Alumconnect</p></a>
        <% if user_signed_in? %>
          <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" style="color:white;">
              &#9776;
            </button>
          <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              
              <% current_user.profiles.each do |profile| %>
                <li class="nav-item">
                  <%=link_to(edit_profile_path(profile.id), :class => "nav-link") do%>
                    Edit <%= profile.first_name%>
                  <% end %>
                </li>
              <% end %>

              <li class="nav-item">
                <%=link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link"%>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
<%= yield %>

</body>
</html>
